* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lao Sangam MN'; 
    src: url('../assets/fonts/Lao Sangam MN.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Lao Sangam MN', sans-serif;
}
/*  ----------------------LOGIN----------------------------*/
/* Background */
.login-body {
    background-image: url('../assets/images/movie-knight-gradient-bg.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Fallback color just in case the image loads slowly */
    background-color: #1a1a2e; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper */
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    transform:translateY(-100px);
}

/* Logo */
.main-logo {
    width: 614.48px; 
    height: 205.49px;
    margin-bottom: 100px;
}

/*Login Box */
.login-box {
    background-color: rgba(255, 136, 179, 0.13); 
    width: 540px;
    height: 447px;
    padding: 40px ;  
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.login-box h2 {
    color: #C2B5B4;
    font-size: 60px;
    letter-spacing: 15px;
    margin-bottom: 10px;
    font-weight: 300;
}

/* Input Fields */

.input-group input::placeholder {
    color: rgba(226,226,226,0.7); 
    font-weight: 300;
}

.input-group input {
    width: 432.13px;
    height: 41.76px;
    padding: 12px 15px;
    background-color: rgba(255, 136, 179, 0.07);
    border: 0px solid rgba(255, 136, 179, 0.07);
    box-shadow: none;
    border-radius: 12px; 
    color: white;
    font-size: 20px;
}

.input-group input:focus {
    outline: none; 
}


/* Submit Button */
.submit-btn {
    width: 133px;
    height: 47px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(188,102,118,0.5); 
    color: white;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: rgba(188,102,118,0.7);
}

/* Bottom Links */
.form-links p {
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
}

.form-links a {
    color: white;
    text-decoration: underline;
}

.form-links a:hover {
    color: white;
}

/* -------------------------HOME PAGE----------------------------*/
/* --- APP LAYOUT (Sidebar + Main Content) --- */
.app-body {
    background-image: url('../assets/images/movie-knight-gradient-bg.svg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
}

/* --- SIDEBAR --- */
.sidebar {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: sticky;
    overflow-y: auto;
    flex-shrink: 0;
    top:0;
    height: 100vh;
}



.sidebar-logo .nav-logo {
    padding: 30px 20px;
    min-width:137px;
    min-height: 182.66px;
    margin-bottom: 10px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}

.about-link{
    margin-top: auto;
    margin-bottom: 76px;

}

.about-link img{
    opacity: 70%;
    padding-left: 18px;
}

.about-link span{
    padding-left: 10px;
}

.nav-link {
    width:194.13px;
    min-height: 66.59px;
    font-size: 25px;
    display: flex;
    align-items: center;
    background-color: rgba(255,136,179,0.03);
    color: #ccc;
    text-decoration: none;
    padding: 12px 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: background-color 0.2s, color 0.2s;
}

.nav-link img{
    padding-right: 15px;
}

.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.nav-link.active{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* --- MAIN CONTENT AREA --- */
.main-content {
    flex-grow: 1;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    min-width: 0;
    
}

/* --- HEADER & SEARCH --- */
.top-header {
    margin-top: 42px;
    width: 100%;
    max-width: 1221px;
    display: flex;
}

.header-left-group {
    display: flex;
    align-items: flex-start; 
    width: 100%;
    gap: 30px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 136, 179, 0.13);
    border-radius: 10px;
    padding: 5px 15px;
    height: 66.59px;
    flex-grow: 1; 
    max-width: 100%;

}

.search-container input {
    background: transparent;
    font-size: 30px;
    border: none;
    color: white;
    width: 100%;
    padding: 10px;
    outline: none;
    
}

.ai-mode-btn{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    appearance: none;
    background: transparent;
    border: 1px;
    background-color: rgba(243,135,177,0.12);
    min-width:10%;
    height: 42.69px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 100;
    color: rgba(255,255,255,0.7);
    transition: background-color 0.3s ease,border-color 0.7s ease,box-shadow 0.7s ease;
}

.ai-mode-btn img {
    width: 18px; 
    height: auto; 
}

.ai-mode-btn:hover{
    background-color: rgba(243,135,177,0.3);
    cursor:pointer;
}

.ai-mode-btn:active{
    border-color: rgba(255, 136, 179, 1);
    box-shadow: 0 0 12px rgba(255, 136, 179, 0.8);
    background: rgba(243, 135, 177, 0.3);
}

.surprise-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:92px;
    gap:8px;
}

.surprise-btn{
    appearance: none;
    border: 0px;
    border-radius: 12px;
    min-width:92px;
    min-height: 66.59px;
    justify-content: center;
    background-color: rgba(243,135,177,0.13);
    transition: background-color 0.4s;
}

.surprise-btn:hover{
    background-color: rgba(243,135,177,0.3);
    cursor:pointer;
}

.surprise-btn:active{
    background: rgba(243, 135, 177, 0.7);
}

.surprise-container p{
    padding-top: 3px;
    color: rgba(255,255,255,0.7)
}

.header-login-btn {
    appearance: none;
    border: 0px;
    border-radius: 12px;
    min-width: 129.63px;
    min-height: 48.85px;
    display: flex; /* Centers the text inside */
    align-items: center;
    justify-content: center;
    background-color: rgba(243,135,177,0.13);
    color: rgba(226,226,226,0.7);
    font-size: 30px;
    transition: background-color 0.4s;

    position: absolute;
    top: 46px;
    right: 62px;
    margin: 0;
    z-index: 100; 
}
.header-login-btn p {
    margin: 0;
    padding: 0;
}

.header-login-btn:hover{
    background-color: rgba(243,135,177,0.3);
    cursor:pointer;
}

.header-login-btn:active{
    background: rgba(243, 135, 177, 0.7);
}

.header-actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Controls Bar */

.controls-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1221px;
}

.filter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:9px;
    width: 97.78px;
    height: 45.3px;
    background-color: rgba(255,136,179,0.13);
    border-radius: 12px;
    border:none;
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.filter-btn img{
    width: 19.67px;
    height: 18.69px;
}

.filter-btn:hover{
    cursor:pointer;
    background:rgba(255,136,179,0.3);
}

.filter-wrapper {
    position: relative;
}

/* 2. The hidden menu */
.filter-dropdown {
    display: none; /* Hidden by default! */
    position: absolute; 
    top: 55px; 
    left: 0;
    z-index: 200;
    font-size: 20px;
    line-height: 53px;
    text-align: start;
    background-color: rgba(132, 52, 63, 0.75);
    border-radius: 12px;
    padding: 20px;
    width: 409.5px; 
    height: 414.57px;
    
}

/* 3. The Toggle Class */
.filter-dropdown.show {
    display: flex; 
    flex-direction: row;
}


.filter-choices{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.year-filter{
    display: flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
    justify-content:center;
}

.from-year-dropdown, .till-year-dropdown{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

.from-year-dropdown select, .till-year-dropdown select{
    appearance: none;
    width: 58.34px;
    height: 21.26px;
    background-color: rgba(89,30,38,0.7);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px;
}
/* ----------------------GENRES--------------- */
.movie-genre-row {
    width: 100%; /* Force this row to take full width */
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    align-items: center;
    margin-top: 15px;
    margin-left: 25px;
    gap:12px;
}

.movie-genre-label {
    margin: 0;
    font-size: 14px;
    /* Forces label to sit perfectly aligned with pills */
    line-height: normal; 
}

/* The List: Holds pills and overflow dots */
.movie-genre-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 100%;
}

.movie-genre-pill {
    background-color: rgba(89, 30, 38, 0.7);
    color: white;
    padding: 2px 10px;
    height: 25px; /* Fixed height is key to vertical alignment */
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.movie-genre-overflow {
    position: relative; /* Tooltip needs this */
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 25px;
    cursor: default;
}

.movie-genre-tooltip {
    display: none;
    position: absolute;
    bottom: 120%; /* Pushed above the dots */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(89, 30, 38, 0.7);
    max-height: 35px;
    text-align: center;
    padding: 5px 10px;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 12px;
    z-index: 9999; /* Force to top */
}

/* Trigger the hover */
.movie-genre-overflow:hover .movie-genre-tooltip {
    display: block;
}   

.movie-genre-add-container {
    position: relative; 
}

.movie-genre-add-btn {
    background-color: rgba(89, 30, 38, 0.7);
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Ensures button never squishes */
}

/* The Dropdown */
.movie-genre-dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;   
    background-color: rgba(89, 30, 38, 0.95);
    border-radius: 8px;
    z-index: 999;
    width: 120px;
    margin-top: 5px; 
    cursor: pointer;
    text-align: center;
}
.movie-genre-dropdown.show { display: block; }

/* ----------------------------SORT BY----------------------------- */

.sort-dropdown label{
    opacity: 70%;
}

.sort-dropdown select{
    cursor: pointer;
    color-scheme: dark;
    width: 97.78px;
    height: 45.3px;
    border-radius: 12px;
    border:none;
    background-color: rgba(255,136,179,0.13);
    color: white;
    font-size: 15px;
    padding-left: 3px;
}

.sort-dropdown option{
    background-color: black;
}


/*  Movie Posters */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    row-gap: 20px; 
    column-gap: 40px;
    width: 100%;
    max-width: 1231px;

}

.movie-card {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 2 / 3;
    border: 3px solid rgba(188,102,118, 1);
    width: 262.31px;
    height: 378.36px;
    transition: transform 0.3s ease;
}

.movie-card:hover{
    transform: translateY(-5px);
}

.card-overlay{
    opacity: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 30px;
    position: absolute;
    transition: opacity 0.3s ease;
}

.card-overlay:hover{
    opacity: 100%;
    cursor: pointer;
    
}

.card-overlay button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(73,8,15,1);
    border-radius: 100px;
    border:none;
    width:53.7px;
    height:53.7px;
    transition: background-color 0.3s ease;
}

.card-overlay button:hover{
    background-color: rgba(188,102,118,0.8);
    cursor: pointer;
}

.card-overlay button:active{
    background-color: rgba(188,102,118,1);
}

.movie-title-pill{
    font-size: 12px;
    display: flex;
    position: absolute;
    bottom: 10px;
    border-radius: 30px;
    width: 227.95px;
    height: 24.21px;
    background-color: rgba(255,136,179,0.2);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating-badge {
    min-width: 55px;
    min-height: 29px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
    top: -3px;
    right: -3px;
    background-color: rgba(91, 91, 91, 0.55);
    border-radius: 10px;
}

.rating-badge img{
    min-width: 15px;
    min-height: 14px;
    padding-bottom: 2px;
}

/*---------------------SIGNUP--------------------*/
.signup-body {
    background-image: url('../assets/images/movie-knight-gradient-bg.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Fallback color just in case the image loads slowly */
    background-color: #1a1a2e; 
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper */
.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

/* Logo */
.main-logo {
    width: 614.48px; 
    height: 205.49px;
    margin-bottom: 35px;
}

/*SignUp Box */
.signup-box {
    background-color: rgba(255, 136, 179, 0.13); 
    width: 540px;
    height: 692px;
    padding: 40px ;  
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.signup-box h2 {
    color: #C2B5B4;
    font-size: 60px;
    letter-spacing: 15px;
    margin-bottom: 10px;
    font-weight: 300;
}

/* Input Fields */

.input-group input::placeholder {
    color: rgba(226,226,226,0.7); 
    font-weight: 300;
}

.input-group input {
    width: 432.13px;
    height: 41.76px;
    padding: 12px 15px;
    background-color: rgba(255, 136, 179, 0.07);
    box-shadow: none;
    border-radius: 12px; 
    color: white;
    font-size: 20px;
}

.input-group input:focus {
    outline: none; 
}

.input-group input[type="date"] {
    color: rgba(226, 226, 226, 0.7); 
    font-weight: 300;
    text-transform: uppercase;
    font-family: inherit;
}


.input-group input[type="date"]::-webkit-calendar-picker-indicator {

    display: none;
}



/* Submit Button */
.submit-btn {
    width: 133px;
    height: 47px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(188,102,118,0.5); 
    color: white;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 0px;
}

.submit-btn:hover {
    background-color: rgba(188,102,118,0.7);
}

/* Bottom Links */
.form-links p {
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
}

.form-links a {
    color: white;
    text-decoration: underline;
}

.form-links a:hover {
    color: white;
}
